<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PyHipster Account Creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="{{baseUrl}}favicon.ico" />
  </head>
  <body>
    <p>Dear {{login}},</p>
    <p>Your PyHipster account has been created, please click on the URL below to access it:</p>
    <p>
      <a href="{{baseUrl}}account/reset/finish?key={{resetKey}}">Login link</a>
    </p>
    <p>
      <span>Regards, </span>
      <br />
      <em>PyHipster.</em>
    </p>
  </body>
</html>
