<!DOCTYPE html>
<html lang="en">
  <head>
    <title >PyHipster password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="{{baseUrl}}/favicon.ico" />
  </head>
  <body>
    <p>Dear {{login}},</p>
    <p>
      For your PyHipster account a password reset was requested, please click on the URL below to reset it:
    </p>
    <p>
      <a href="{{baseUrl}}/account/reset/finish?key={{resetKey}}">Login link</a>
    </p>
    <p>
      <span>Regards, </span>
      <br />
      <em>PyHipster.</em>
    </p>
  </body>
</html>
