<template>
  <div id="footer" class="footer">
    <div class="d-flex justify-content-center">
      <p>Made with <font-awesome-icon icon="heart" style="color: #D8165A;"/> using PyHipster</p>
    </div>
  </div>
</template>

<script lang="ts" src="./jhi-footer.component.ts"></script>